<!--<div *ngIf="authService.isLoggedIn()">
  <h2>Update Profile Picture</h2>-->

  <!-- Camera input -->
<!--
  <input 
    type="file" 
    accept="image/*" 
    capture="environment" 
    (change)="onFileSelected($event)" 
  />
-->

  <!-- Preview -->
  <!--<div *ngIf="profilePicUrl">
    <img [src]="profilePicUrl" alt="Profile Preview" width="150" />
  </div>

  <button (click)="uploadProfilePic()">Save Profile Picture</button>
</div>
-->

<form [formGroup]="profileForm" (ngSubmit)="updateProfiles()">
            <ul>
                <li>
        
                    <input type="file" (change)="onFileSelected($event)" #fileInput />
                </li>

                <li>
                    <label for="bio">Bio:</label>
                    <textarea name="user_bio" id="bio"></textarea>
                </li>

                <li class="button">
                    <button type="submit">Update Profile</button>
                </li>
            </ul>
            <video #video autoplay></video>
            <button type="button" (click)="capture()">Capture</button>
            <canvas #canvas hidden></canvas>
        </form>

<!--
<form [formGroup]="profileForm" (ngSubmit)="updateProfiles()">
  
  <textarea formControlName="bio"></textarea>

  
  <input type="file" (change)="onFileSelected($event)" #fileInput />

  
  <video #video autoplay></video>
  <button type="button" (click)="capture()">Capture</button>
  <canvas #canvas hidden></canvas>

  <img *ngIf="profileForm.value.profilePic" [src]="profileForm.value.profilePic" />

  <button type="submit">Update Profile</button>
</form>
-->