<div class="logo">
  
        <img class="mylogo" src="../../assets/img/logoweb.svg" alt="">
        <p>CTlife</p>
        
        <img class="event" src="../../assets/img/world-cup-trophy.svg" alt="">

        <ng-container *ngFor="let match of matches; let i = index">
            <div class="match-card" *ngIf="i === currentIndex" [@slideAnimation]>    
                <!-- Tầng trên: 3 phần tử bọc lại cho dễ quản lý -->
                <div class="teams">
                    <img class="world-cup" [src]="'../../assets/img/world-cup/' + match.team1" [alt]="match.name1">
                    <span class="versus">-</span>
                    <img class="world-cup" [src]="'../../assets/img/world-cup/' + match.team2" [alt]="match.name2">
                </div>
                <!-- Tầng dưới: Thời gian -->
                <span class="year"><strong>{{ match.time }}</strong></span>
            </div>
        </ng-container>

        <!--
        <span class="year"><strong>00:00 30/06/2026</strong></span>
        <img class="world-cup" src="../../assets/img/world-cup/br.svg" alt="">
        <span class="world-cup" style="margin-left: 10px; margin-right: 10px;">-</span>
        <img class="world-cup" src="../../assets/img/world-cup/jp.svg" alt="">
    -->
   
</div>

<!--<div class="marquee-group" [class.paused]="isPaused">-->
    <div class="date-time">{{result}} {{today | date: 'dd/MM/yy'}} || {{tetDay}}</div>
    <div class="weather">
        <select id="town" name="town" (change)="onChangeValue($event)">
                <option *ngFor="let province of provinces" [value]="province.name">{{province.name}}</option>
        </select>
        <img [src]="icon" alt="" appIcon>
        <p class="temp">{{temp}}</p>
        <code>&deg;C</code>
    </div>

    <!--lan2-->
    <!--<div class="date-time" aria-hidden="true"> {{result}} {{today | date: 'dd/MM/yy'}}|| {{tetDay}}</div>
    <div class="weather" aria-hidden="true">
        <select id="town" name="town" (change)="onChangeValue($event)">
            <option *ngFor="let province of provinces" [value]="province.name">{{province.name}}</option>
        </select>
        <img [src]="icon" alt="" appIcon>
        <p class="temp">{{temp}}</p>
        <code>&deg;C</code>
    </div>
</div>-->

<div class="mode">
    <!--<a routerLink="/notifications" routerLinkActive="active" ariaCurrentWhenActive="page">
        <div class="bell-icon" (click)="toggleDropdown()">
            <i class="uil uil-bell"></i>
            <span class="badge" *ngIf="(unreadCount$ | async) as count">{{ count > 9 ? '9+' : count }}</span>
        </div>
    </a>-->
    <app-notification></app-notification>
    <ul>
        <li>
            <input type="checkbox" name="power" id="power" (change)="toggleTheme($event)">
            <label for="power"><span class="on" ><img src="../../assets/img/moon-star.svg" alt=""> </span><span class="off"><img src="../../assets/img/sun.svg" alt=""></span></label>
        </li>
    </ul>
</div>








