/*form {
    font-family: 'Josefin Sans', sans-serif;
    margin: 20px auto;
    max-width: 600px;
    background-color: aliceblue;
    position: fixed;
    top: 30px;
    left:35%;
    

}
fieldset {
    padding: 10px 30px 0;
}

legend {
    color: white;
    background: black;
    padding: 5px 10px;
}

fieldset > div {
    margin-bottom: 20px;
    display: flex;
    flex-flow: row wrap;
}

button, label, input {
    display: block;
    font-family: inherit;
    font-size: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
    height: 30px;
}

input {
    box-shadow: inset 1px 1px 3px #ccc;
    border-radius: 5px;
}

input:hover, input:focus {
    background-color: #eee;
}

input + span {
    position: relative;
}

input:required + span::after {
    font-size: 0.7rem;
    position: absolute;
    content: "required";
    color: white;
    background-color: black;
    padding: 5px 10px;
    top: -26px;
    left: -70px;
}

input + span::before {
    position: absolute;
    right: -20px;
    top: 5px;
}

input:invalid {
    border: 2px solid red;
}

input:invalid + span::before {
    content: '✖';
    color: red;
}

input:valid + span::before {
    content: '✓';
    color: green;
}

button {
    width: 60%;
    margin: 0 auto;
}*/

/*form{
    font-family: 'Josefin Sans', sans-serif;
    margin: 20px auto;
    display: block;
    box-sizing: border-box;
    width: 600px;
    background-color: rgb(5, 63, 114);
    position: fixed;
    top: 30px;
    left:35%;
}


button, label, input {
    display: block;
    font-family: inherit;
    font-size: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
    height: 30px;
}

    input[type="checkbox"] {
        appearance: none;
    }

    input[type="checkbox"] {
        position: relative;
        margin-top: 8px;
        width: 1em;
        height: 1em;
        border: 1px solid gray;*/
        /* Adjusts the position of the checkbox on the text baseline */
        /*vertical-align: -2px;*/
        /* Set here so that widows 'High-contrast mode can override' */
        /*color: green;
        }

    input[type="checkbox"]::before {
        content:"✔";
        position: absolute;
        font-size: 1.2em;
        right: -1px;
        top: -0.3em;
        visibility: hidden;
        }

    input[type="checkbox"]:checked::before {
        /* Use visibility instead of display to avoid recalculatin layout */
     /*   visibility: visible;
    }

    input[type="checkbox"]:disabled {
        border-color: black;
        background: #ddd;
        color: gray;
    }*/

