<!--
<ul class="listxe">
  <li *ngFor="let xe of listxe$ | async" [class.selected]="xe.id === selectedId">
    <a [routerLink]="['/honda', xe.id]">
      <span class="badge">{{ xe.id }}</span>{{ xe.name }}
    </a>
  </li>
</ul>

<button type="button" routerLink="/sidekicks">Go to sidekicks</button>
-->
<h1>About My Website</h1>
<p>Tôi sẽ giới thiệu sơ lược cho các bạn về trang web nay và một số tương tác cần thiết khi bạn sử dụng trang web này.</p>
<p>Đây là một website full stacks kết hợp giữa frontend, backend và cả cơ sở dữ liệu được viết dựa trên môi trường nodejs, dùng ngôn ngữ typeScript(mở rộng từ javaScript), framework cho frontend dùng Angular và backend dùng NestJs kết nối với MySql làm cơ sở dữ liệu.</p>
<p>Để chạy được hệ thống này ở môi trường production và có thể tinh chỉnh tùy ý thì hệ thống phải đồng bộ gồm các phần mềm và các nền tảng hỗ trợ gồm có VsCode, GitHub, GitBash, Xampp, MySql workbench, Tên miền được mua từ Hostinger, FrontEnd là angular sẽ được chạy trên VerCel, BackEnd được chạy trên AWS với ec2 với rds, s3 sẽ giúp lưu trữ dữ liệu</p>