<div *ngIf="xeya">
    <h3>{{ editName }}</h3>
    <!-- <p>Id: {{ xeya.id }}</p> -->
     <iframe
            src="../../../assets/video/exciter2010.mp4"
            width="560" height="315" frameborder="0"
            allowfullscreen>
      </iframe>
    <!--<img src="../../../assets/img/PXL_20250802_032801310.MP.jpg" alt="exciter2010">-->
    <label for="xeya-name">Xeya name: </label>
    <input type="text" id="xeya-name" [(ngModel)]="editName" placeholder="name"/>
    <div>
      <button type="button" (click)="save()">Save</button>
      <button type="button" (click)="cancel()">Cancel</button>
    </div>
</div>

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis corrupti eligendi officiis cupiditate unde eos, sit, accusamus veniam reiciendis nostrum adipisci cumque quia sunt nihil soluta! Consequuntur fuga sint amet.</p>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti, sequi perferendis dolorem cumque cum recusandae veniam odit eum facilis! Deserunt, neque sed! Repudiandae doloremque illo temporibus necessitatibus tempora eum corrupti!</p>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum nesciunt sapiente qui ducimus itaque? Illum, perferendis ad quasi natus possimus repellendus voluptates magnam sequi saepe ab, adipisci inventore officia velit?</p>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque aspernatur commodi velit maiores qui nobis saepe veniam at ullam! Dolorum earum eius facere est placeat nulla, tempora iusto commodi rem.</p>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut aperiam explicabo natus similique, hic modi cum aut expedita qui omnis sequi ducimus provident voluptatibus, tenetur unde odit excepturi dolor exercitationem.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem architecto sint incidunt reprehenderit nisi doloremque sit quidem eius dolorem consequuntur quia debitis quae veniam, labore iusto animi illum at aperiam?</p>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur dignissimos consequuntur quas ratione quam repellendus facilis, voluptatum est numquam doloribus alias debitis, quaerat suscipit eos praesentium odio, ducimus libero iste.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, iusto dolore, nisi perferendis voluptates qui sequi nihil placeat atque nulla magnam necessitatibus delectus ipsum perspiciatis? Ipsa, nesciunt dolores. Libero, cumque.
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam fuga expedita explicabo assumenda aliquid neque perferendis iste omnis laborum natus ipsa harum sunt aperiam mollitia, incidunt culpa, facilis sed animi.
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, ipsa suscipit dolores perferendis doloremque veniam vel fugit? In, saepe voluptates rerum explicabo, dignissimos magni ut assumenda nostrum, impedit aliquam necessitatibus?
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam amet animi dolore ipsam officiis error reprehenderit fugit accusamus architecto. Quas id quam itaque obcaecati sapiente! Delectus pariatur natus mollitia dignissimos.
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione sed nostrum neque beatae omnis praesentium voluptatem quam eum ad accusamus eveniet quo est placeat tempore ab distinctio magni, iusto molestias!
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos illo veritatis delectus commodi ut, atque eius sapiente, sit corrupti corporis alias non minus, optio nesciunt accusamus? Commodi corrupti asperiores eveniet!
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus consectetur eius earum pariatur facilis incidunt natus officiis neque rerum quibusdam omnis non perspiciatis at commodi, consequatur minus. Id, quos atque!
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat praesentium amet voluptas tempora ipsam possimus est, iusto mollitia totam dolorem rem ad vitae quam similique repudiandae, expedita, veniam magnam quis?
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, ipsa voluptatem hic nostrum temporibus quidem odio eos nisi aperiam et quas pariatur fuga voluptatum cum similique in id tenetur provident!
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta dolores fugit sequi beatae alias autem, a pariatur minima quo amet, quidem omnis libero illum reiciendis sunt recusandae porro quod cum?
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis delectus neque ratione ex enim veritatis minus accusamus eligendi itaque, porro, alias quia nihil nemo. Modi perferendis cumque facilis ipsa doloribus?

</p>