.container{
    display: grid;
    grid-template-columns: repeat(20, 1fr);
}
.yas{
    display: block;
    grid-column: 1/5;
    padding: 10px;
}

.ya {
    display: flex;
    flex-flow: column;
    margin: 0;
    padding: 0;
}

.ya > li {
    padding-top: 5px;
}


