.container {
                display: grid;
                grid-template-areas: 
                    "header ."
                    "sidebar content"
                    "sidebar footer";
                grid-template-columns: 1fr 3fr;
                gap: 20px;
                width: 90%;
                margin: 2em auto;
                font: 0.9em/1.2 Arial, Helvetica, sans-serif;
                border: 5px solid plum ;
                border-radius: 12px;
            }

            header,
            footer {
                border-radius: 5px;
                padding: 10px;
                background-color: rgb(207, 232, 220);
                border: 2px solid rgb(79, 185, 227);
            }

            aside {
                border-right: 1px solid #999;
            }

            header {
                grid-area: header;
            }

            article {
                grid-area: content;
            }

            aside {
                grid-area: sidebar;
            }

            footer {
                grid-area: footer;
            }

.comment {
  display: flex;
  align-items: flex-start;
  padding: 10px;
  border: 2px solid #0e1eb5;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%; /* circular avatar */
  margin-right: 10px;
  object-fit: cover;
}

.comment-body {
  flex: 1;
}

.comment-body strong {
  color: #333;
  font-size: 14px;
}

.comment-body p {
  margin: 5px 0;
  font-size: 14px;
  color: #444;
}

.comment-body .date {
  font-size: 12px;
  color: #888;
}
