.card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 15px;
}

.title-input {
  width: 100%;
  border: none;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
  outline: none;
  &:focus { border-bottom: 2px solid #007bff; }
}

.quill-wrapper {
  border: 1px solid #eee;
  border-radius: 4px;
  margin-bottom: 10px;
}

/* Quan trọng: Để nội dung xem giống hệt nội dung lúc soạn */
.post-content.ql-editor {
  padding: 0;
  overflow-y: hidden;
  img { max-width: 100%; height: auto; border-radius: 4px; }
}

 ::ng-deep {
  .post-content.ql-editor img {
    /* Ép ảnh vuông của bạn về kích thước vừa mắt */
    width: 650px;       /* Kích thước lý tưởng để đọc trên Desktop */
    max-width: 100%;    /* Tự động co nhỏ khi xem trên Mobile */
    height: auto;       /* Giữ tỉ lệ 1:1 của NestJS */
    
    display: block;
    margin: 20px auto;  /* Căn giữa và tạo khoảng cách với chữ */
    border: 1px solid #eee;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05); /* Hiệu ứng nổi cho chuyên nghiệp */
  }
}


.btn-primary { background: #007bff; color: white; padding: 8px 20px; border-radius: 20px; border: none; cursor: pointer; }
.text-danger { color: #ff4d4f; margin-left: 10px; border: none; background: none; cursor: pointer; }
