<div class="reaction-container">
  <!-- Menu icon: Chỉ hiện khi hover vào container -->
  <div class="reaction-menu">
    <div *ngFor="let icon of reactionIcons" 
         class="icon-wrapper" 
         (click)="onSelect(icon.type)">
      <img [src]="icon.url" [alt]="icon.label" />
      <!-- Tooltip tên icon (ví dụ: LIKE, LOVE) -->
      <span class="tooltip">{{ icon.type }}</span>
    </div>
  </div>

  <!-- Nút chính: Người dùng sẽ hover vào đây -->
  <button class="main-button" *ngIf="isLogin">
    <!--<img *ngIf="currentUserReaction" [src]="currentUserReaction.iconUrl" class="current-icon" />-->
    <span [class.active]="currentUserReaction">
        {{ currentUserReaction ? currentUserReaction.type : 'Thích' }}
    </span>
  </button>
</div>

