
<form action="" [formGroup]="searchForm" (ngSubmit)="loadPosts()"  >
  <div class="mic"></div>
  <input type="search" name="search" id="search" formControlName="search" aria-label="Search our site">
  <button class="search" type="submit"><img src="../../assets/img/search.svg" alt=""></button>
</form>

<button class="createPost">
  <a [routerLink]="['/home', 'create-post']" routerLinkActive="active" >Create Post</a>
</button>

<div *ngIf="errorMessage" class="alert-error">
  {{ errorMessage }}
</div>

<div class="newsfeed-container" *ngIf="posts.length > 0; else noData">
  <!-- Lặp qua danh sách bài viết -->
  <article *ngFor="let post of posts" class="post-card" (click)="viewDetail(post.id)">
    
    <header class="post-header">
      <!--
      <img [src]="post.author.profilePic || 'assets/default-avatar.png'" class="author-avatar">
    -->
     
      <app-avatar [imageUrl]="post.author.profilePic" 
            [firstLetter]="post.author.name?.slice(0,1)"
            [status]="post.authorId | userStatusPipe | async" 
            [size]="40">
      </app-avatar>

    
      <div class="meta">
        <strong>{{ post.author.name }}</strong>
        <small>{{ post.createdAt | date:'short' }}</small>

      </div>
    </header>

    <div class="post-body">
      <!-- PHẦN HIỂN THỊ CATEGORY -->
      <div class="post-categories" *ngIf="post.categories && post.categories.length > 0">
        <!-- Chuyên mục chính (Cái đầu tiên) -->
        <span class="category-main">{{ post.categories[0].name }}</span>
        
        <!-- Các tag phụ (Nếu có nhiều hơn 1) -->
        <span class="category-sub" *ngFor="let cat of post.categories.slice(1)">
          #{{ cat.name }}
        </span>
      </div>
      
      <h3 class="post-title">{{ post.title }}</h3>
      <!--<p class="post-excerpt">{{ post.content | slice:0:150 }}...</p>-->

      <!-- PHẦN HIỂN THỊ MEDIA NHỎ (Thumbnail) -->
      <div class="post-media-preview" *ngIf="post.metadata">
        <div class="mini-link-card">
          <img [src]="post.metadata.image" *ngIf="post.metadata.image">
          <div class="mini-info">
            <!-- Tiêu đề link cắt 1 dòng -->
            <h4 class="line-clamp">{{ post.metadata.title }}</h4>
            <!-- Mô tả link cắt 2 dòng -->
            <p class="line-clamp">{{ post.metadata.description }}</p>
          </div>

        </div>
      </div>
    </div>
  </article>
</div>

<ng-template #noData>
  <p *ngIf="!errorMessage">Chưa có bài viết nào.</p>
</ng-template>
